* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }
  * .container {
    max-width: 1170px;
    margin: auto; }

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans ExtraBold Italic';
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot");
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background: #eee;
  font-family: 'Open Sans Light', sans-serif; }
  body .container {
    background: #fff;
    box-shadow: 0 0 30px #ddd; }
  body .order__button {
    display: block;
    background: #5e1a5b;
    color: #fff;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    margin: 40px auto;
    position: relative; }
    body .order__button:hover {
      background: #7b2978;
      cursor: pointer; }

.promo {
  /*&__video
   * text-align: center */ }
  .promo__h1 {
    font-family: 'Open Sans ExtraBold Italic', sans-serif;
    font-size: 4em;
    text-align: center;
    padding: 20px 0;
    color: #5e1a5b;
    position: relative; }
  .promo__img {
    display: block;
    margin: 0 auto;
    width: 200px;
    position: relative; }
  .promo .promo__characteristic {
    display: flex;
    margin: 20px 0 40px;
    position: relative; }
    .promo .promo__characteristic_block {
      border: 1px solid #eee;
      margin: 10px;
      padding: 10px;
      background: #fff6fe;
      border-radius: 10px; }

.overlay {
  width: 100%;
  height: 100%;
  display: block; }

#video__fon {
  overflow: hidden;
  position: relative; }
  #video__fon #video {
    top: 0;
    left: 0;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
    z-index: 0; }

.production {
  display: flex; }

.production__column {
  width: 25%; }
  .production__column_row {
    background: url(../img/brok.jpg);
    background-size: cover;
    margin: 10px auto;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    text-align: center;
    color: #fff;
    border: 5px solid #7eb46b; }
  .production__column_center {
    width: 50%;
    align-items: center;
    display: flex; }

.production__img {
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
