@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Light.woff') format('woff'),
  url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans ExtraBold Italic';
  src: url('../fonts/OpenSans-ExtraBoldItalic.eot');
  src: url('../fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@mixin light {
  font-family: 'Open Sans Light', sans-serif;
}
@mixin extra_bold_italic {
  font-family: 'Open Sans ExtraBold Italic', sans-serif;
}