body
  background: $color-gray
  +light

  .container
    background: $color-white
    box-shadow: 0 0 30px #ddd

  .order__button
    display: block
    background: #5e1a5b
    color: #fff
    padding: 20px
    width: 300px
    text-align: center
    border-radius: 10px
    font-size: 20px
    text-decoration: none
    margin: 40px auto
    position: relative
    &:hover
      background: #7b2978
      cursor: pointer
