.production
  display: flex
.production__column
  width: 25%
  &_row
    background: url(../img/brok.jpg)
    background-size: cover
    margin: 10px auto
    border-radius: 50%
    height: 200px
    width: 200px
    text-align: center
    color: #fff
    border: 5px solid #7eb46b
  &_center
    width: 50%
    align-items: center
    display: flex
.production__img
    margin: 0 auto