.promo
  &__h1
    +extra_bold_italic
    font-size: 4em
    text-align: center
    padding: 20px 0
    color: #5e1a5b
    position: relative
  &__img
    display: block
    margin: 0 auto
    width: 200px
    position: relative
  /*&__video
    text-align: center*/
  .promo__characteristic
    display: flex
    margin: 20px 0 40px
    position: relative
    &_block
      border: 1px solid $color-gray
      margin: 10px
      padding: 10px
      background: #fff6fe
      border-radius: 10px
.overlay
  width: 100%
  height: 100%
  display: block
#video__fon
  overflow: hidden
  position: relative
  #video
    top: 0
    left: 0
    position: absolute
    width: auto
    height: auto
    min-width: 100%
    min-height: 100%
    opacity: 0.5
    z-index: 0